/*base css  */
h4 {
	color:#006306;
	font-family:'Cedarville Cursive', cursive;
	
}
h3 {
	color: #050358;
	font-family:'Dancing Script', cursive;
}

p {
	font-family: 'Caveat', cursive;
	font-size: 31px;
	margin: 10px;
}

h1 {
	font-family: 'Cedarville Cursive', cursive;
}

h2 {
	font-family: 'Caveat', cursive;	
}

.page-header{
	
	margin: 0;
	padding: 0;
	width: 100%;
	
}

.container{
	width: 100%;
}


img {
	float: left;
}

img .page-header{
	float: left;
	margin: 5px;
}

a {
	float: left;
}

body{
	margin: 3px;
}

.images_construct{
	float: left;
}
		
.text_body{
	float: left;
	padding-bottom: 5px;

}

.interests {
		float: left;
}